
.navigation-link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}
.navigation-link:visited {
  font-weight: bold;
}

.navigation-link:hover {
  font-weight: bold;
}

.navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  color: gray;
  font-weight: bold;
}

.navigation-link--highlight:hover {
  background: rgba(0, 0, 0, .3);
  font-weight: bold;
}
